import datetime
from typing import List, Optional, Dict, Union, Any, Literal
from uuid import UUID

from pydantic import BaseModel, Base64Bytes, AnyUrl
from pydantic_extra_types.phone_numbers import PhoneNumber
from .base64data import Base64Data

{% for import in imports %}
{{ import }}
{% endfor %}

class {{ name }}(BaseModel):
    """{{ description }}"""
    {% for field in fields %}
    {% if field.value %}
    {{ field.name }}: Literal[{{ field.value }}] = {{ field.value }}
    {% else %}
    {{ field.name }}: {{ field.type }}
    {% endif %}
    {% endfor %}
