class {{ name }}(KittyCadBaseModel):
    """{{ description }}"""
    {% for field in fields %}
    {% if field.value %}
    {{ field.name }}: Literal[{{ field.value }}] = {{ field.value }}
    {% else %}
    {{ field.name }}: {{ field.type }}
    {% endif %}
    {% endfor %}