name: build & test
on:
  push:
    branches: main
    paths:
      - '**.py'
      - .github/workflows/build-test.yml
      - 'pyproject.toml'
      - 'spec.json'
  pull_request:
    paths:
      - '**.py'
      - .github/workflows/build-test.yml
      - 'pyproject.toml'
      - 'spec.json'
jobs:
  build-test:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.9]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      # Installation instructions are from: https://python-poetry.org/docs/
      - name: Install dependencies
        shell: bash
        run: |
          pip install \
          poetry

      - name: Build
        shell: bash
        run: |
          poetry install
          poetry build

      - name: Lint with ruff
        shell: bash
        run: |
          poetry run ruff check .

      - name: Run pytest
        shell: bash
        run: |
          poetry run pytest --cov=./ --cov-report=xml kittycad
        env:
          KITTYCAD_API_TOKEN: ${{secrets.KITTYCAD_API_TOKEN}}

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
          flags: unittests
          files: ${{ github.workspace }}/coverage.xml
          verbose: true

