name: build & test
on:
  push:
    branches: main
    paths:
      - '**.py'
      - .github/workflows/build-test.yml
      - 'pyproject.toml'
      - 'uv.lock'
      - 'spec.json'
  pull_request:
  workflow_dispatch:
    inputs:
jobs:
  build-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python 3.11
        uses: actions/setup-python@v6
        with:
          python-version: 3.11
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
          enable-cache: true
          cache-dependency-glob: "uv.lock"
      - name: Install just
        uses: extractions/setup-just@v3
      - name: Install dependencies
        shell: bash
        run: |
          uv sync --extra dev
      - name: Run tests with coverage
        shell: bash
        run: |
          just test --reruns 3 --reruns-delay 5 --cov=./ --cov-report=xml
        env:
          KITTYCAD_API_TOKEN: ${{secrets.KITTYCAD_API_TOKEN}}
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
          flags: unittests
          files: ${{ github.workspace }}/coverage.xml
          verbose: true
