name: generate
permissions:
  contents: write
on:
  pull_request:
    paths:
      - 'justfile'
      - .github/workflows/generate.yml
      - 'spec.json'
      - 'generate/generate.py'
  workflow_dispatch:
jobs:
  generate:
    # Check if the PR is not from a fork
    if: ${{ github.event.pull_request.head.repo.full_name == github.repository }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.ref }}
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
          enable-cache: true
          cache-dependency-glob: "uv.lock"
      - name: Install just
        uses: extractions/setup-just@v3
      - name: Run generate
        shell: bash
        run: |
          just generate
        env:
          KITTYCAD_API_TOKEN: ${{secrets.KITTYCAD_API_TOKEN}}
      - name: Commit generated API files
        uses: KittyCAD/gha-actions-public/pr-commit@main
        with:
          app-id: ${{ secrets.GH_ORG_APP_ID }}
          private-key: ${{ secrets.GH_ORG_APP_PRIVATE_KEY }}
          commit-message: "I have generated the latest API!"
