on:
  push:
    tags:
      - v*
permissions:
  contents: write
name: make-release
jobs:
  makerelease:
    name: make-release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.x'
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Do the release
        shell: bash
        run: |
          uv build
          uv publish \
            --username ${{secrets.PYPI_USERNAME}} \
            --password ${{secrets.PYPI_SECRET}}
      # TODO: generate a nice little doc for the release text like we do for the
      # cli repo.
      - name: Create a Release
        uses: softprops/action-gh-release@v2
